
@using EduHome.Core.Entities;
@model IEnumerable<Testimonial>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<h1 style="color:cornflowerblue">Testimonial's List</h1>
<a style="margin:20px 0px " asp-action="Create" class="btn btn-primary">Create <i class="far fa-plus-square"></i></a>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>ImagePath</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Description</th>
                        <th>Decription</th>
                        <th>Position</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    var orderedTestimonials = Model.OrderByDescending(testimonial => testimonial.Id);
                }

                @foreach (var testimonial in orderedTestimonials)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@count</th>
                            <td><img width="80" src="@testimonial.ImagePath" alt="section-title"></td>
                            <td>@testimonial.ImagePath</td>
                            <td>@testimonial.Name</td>
                            <td>@testimonial.Surname</td>
                            <td>@testimonial.Description</td>
                            <td>@testimonial.Position</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@testimonial.Id" style="display:flex;align-items:center; gap: 10px; max-width: max-content;" class="btn btn-warning">Update </a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@testimonial.Id" style="display:flex;align-items:center;gap: 10px; max-width: max-content;" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                    count++;
                }



            </table>
        </div>

    </div>
</div>